.user-container > img {
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
}

.user-container {
    text-align: center;
}

.user-container > p {
    font-size: 1.2rem;
}