<!-- <div class="user-container">
  <img src="{{ image }}" alt="Image" />
  <p>Hello <span>{{ name }} 😁😁</span></p>
</div> -->

<!-- <div class="container">
  <div *ngFor="let list of movies" class="user-container">
    <img src="{{ list.poster }}" alt="Poster" />
    <p>{{ list.name }}</p>
    <p>{{ list.rating }}</p>
    <p>{{ list.summary }}</p>
  </div>

</div> -->



<!--Property Binding-->
  <!-- @for(list of movies; track $index) {
    <app-user-app [name]="list.name" [poster]="list.poster"></app-user-app>
  } -->

<router-outlet /> 
