<!-- <div class="user-container">
  <img src="{{ image }}" alt="Image" />
  <p>Hello <span>{{ name }} 😁😁</span></p>
</div> -->

<div class="container">
  <div *ngFor="let list of movie" class="user-container">
    <img src="{{ list.poster }}" alt="Poster" />
    <button onclick()>Toggle</button>
    <p>{{ list.name }}</p>
    <p>{{ list.rating }}</p>
    <p>{{ list.summary }}</p>
  </div>
</div>

<!--Property Binding-->
<!-- <app-color-game></app-color-game> -->
<!-- <app-counter></app-counter> -->
<router-outlet />
