<body>
  <div class="container">
    <img class="img" src="{{ movie.poster }}" alt="Poster" />
    <div class="text-column">
      <h1>{{ movie.name }}</h1>

      <button mat-icon-button class="details" routerLink="/movie/{{ id }}">
        <mat-icon>info</mat-icon>
      </button>
      <p class="rating">⭐ {{ movie.rating }}</p>
    </div>
    <button mat-stroked-button (click)="showDescription()">
      Toggle description
    </button>

    @if (show) {
    <p class="summary-text">{{ movie.summary }}</p>
    }
    <app-counter />
    <button class="delete-btn" (click)="deleteMovie()" mat-fab>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</body>
