<body>
  <div class="container">
    <img class="img" src="{{ movie.poster }}" alt="Poster" />
    <mat-card-content class="text-column">
      <h1>{{ movie.name }}</h1>
      <p class="rating">⭐ {{ movie.rating }}</p>
    </mat-card-content>
    <button mat-stroked-button (click)="showDescription()">
      Toggle description
    </button>

    @if (show) {
    <p class="summary-text">{{ movie.summary }}</p>
    }
    <app-counter />
    <button class="delete-btn" (click)="onDelete()" mat-fab>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</body>
