body {
  margin: 0;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.container {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.summary-text {
  margin-top: 15px;
}

.text-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  width: 100%;
  align-items: center;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding-bottom: 10px;
  object-fit: cover;
  background-size: cover;
}

.rating {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
}

h1 {
  font-size: 20px;
  margin: 0;
}

.description {
  background-color: rgb(230, 156, 156);
}

.delete-btn {
  margin-left: 75%;
  bottom: 80px;
}
